# .NET Core
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/

# JetBrains Rider
.idea/
*.sln.DotSettings.user

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb
*.nupkg

# macOS
.DS_Store